.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  background-size: cover;
  font-family: "DS-Digital", sans-serif;
}
.bg1 {
  background-image: url(/images/imagen1.jpeg);
}

.bg2 {
  background-image: url(/images/imagen2.jpeg);
}

.bg3 {
  background-image: url(/images/imagen3.jpeg);
}

.bg4 {
  background-image: url(/images/imagen4.jpeg);
}
